.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    height: 7vh;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer-text {
    color: white;
    margin: auto;

}